# バイナリファイルを無視
*.env
*.ini
*.service
*.sock
*.exe
*.dll
*.txt
*.Identifier
# ログファイルを無視
*.log
*.cgi
*.htaccess
# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/

venv/
gemie/
# ビルドディレクトリを無視
/build/
__pycache__/