# バイナリファイルを無視
*.env
*.ini
*.service
*.sock
*.exe
*.xlsx
*.docx
*.csv
*.dll
*.txt
*.pdf
*.Identifier
# ログファイルを無視
*.log
*.cgi
*.htaccess
# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/

cut.py
excel_test.py
csv_test.py
venv/
No_Use/
# ビルドディレクトリを無視
/build/
__pycache__/