.chat-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
}

.chat-card {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.chat-message .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* 必要に応じて調整 */
}

/* フェードイン効果 */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



.chat-input {
    display: flex;
    align-items: flex-start;
    /* align-itemsの値をflex-startに変更 */
}

.chat-message {
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    max-width: 100%;
}

.chat-message.user {
    background-color: #d1e7dd;
    margin-left: 100px;
    text-align: right;
    /*浮き上がり*/
    animation: slideUp 0.5s ease-out;
}

.chat-message.user::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #d1e7dd;
    border-bottom: 0;
    border-right: 0;
    margin-left: -5px;
    margin-bottom: -10px;
}

/* チャットが浮き上がる効果 */
@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.chat-message.bot {
    background-color: #e2e3e5;
    margin-right: 100px;
    text-align: left;
    /*浮き上がり*/
    animation: slideUp 0.5s ease-out;
}

.chat-message.bot::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #e2e3e5;
    border-bottom: 0;
    border-left: 0;
    margin-right: -5px;
    margin-bottom: -10px;
}

.btn-no {
    background-color: #1824ac;
    color: white;
}

.btn-no:hover {
    background-color: #267dff;
    transform: scale(1.2);
}

.btn-yes {
    background-color: #ffff00;
    color: black;
}

.btn-yes:hover {
    background-color: #1fec52;
    transform: scale(1.2);
}

.card-header h1 {
    background-color: #273cdb;
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid #1380ce;
}

.card-body {
    border: none;
}

.card-footer,
.card-body {
    border: none;
    position: relative;
}

.card-header,
.card-body {
    border: none;
    position: relative;
}

.bottom-right-content {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

/*待機状態のくるくる*/
#spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(43, 80, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    /* Bootstrapのモーダルよりも上に表示 */
    display: none;
    /* 初期状態では非表示 */
}




/*チャットの部分*/
.info-text {
    display: none;
    position: absolute;
    bottom: 80px;
    /* Adjust this value to control the gap between info text and input form */
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1001;
    /* Make sure it appears above other content */
}

.btn-info,
.btn-chat {
    color: white;
    border: none;
    margin-top: auto 0;
    margin-left: 5px;
    border-radius: 20%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-info {
    align-self: flex-end;
    /* 送信ボタンの位置をテキストエリアの底に揃える */
    height: 45px;
    background-color: rgb(84, 89, 160);
    margin-right: 5px;
}

.btn-chat {
    align-self: flex-end;
    /* 送信ボタンの位置をテキストエリアの底に揃える */
    height: 45px;
    /* 送信ボタンの高さを固定 */
    background-color: rgb(50, 26, 173);
    width: 100px;
}

.btn-decide {
    color: rgb(25, 4, 255);
    align-self: flex-end;
    /* 送信ボタンの位置をテキストエリアの底に揃える */
    height: 45px;
    width: 100px;
    background-color: rgb(36, 226, 219);
    margin-right: 5px;
    border: none;
    font-size: 24px;
}


@media (max-width: 576px) {
    .btn-info {
        font-size: 15px;
        margin-left: 3px;
        width: 30px;
        height: 40px;
    }

    .btn-chat {
        font-size: 15px;
        margin-left: 3px;
        width: 50px;
        height: 40px;
    }

    /* 追加分 スマホ用の並び */
    .chat-container {
        flex-direction: column;
        gap: 10px;
        margin: 10px 20px;
    }

    .chat-card {
        width: 100%;
        height: 500px;
    }

    /*決定ボタンのフォントサイズ*/
    .btn-decide {
        font-size: 1.0em;
        font-weight: bold;
    }
}



.original-btn {
    height: 45px;
    /* 他のボタンの高さも固定 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:focus,
.original-btn:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
}

/*テキストエリアの大きさ*/
textarea {
    overflow-y: auto;
    /* スクロール可能にする */
    resize: none;
    max-height: 250px;
    /* 上限の高さを設定 */
}

textarea#message {
    background-color: #d0efff;
    /* 背景色を設定 #d0ffdf;*/
    border: none;
}

/* 新しいスタイルを追加 */
textarea#message:focus {
    height: auto;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}


nav.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.menu-btn {
    background-color: #4c53af;
    /* カスタムカラーを指定 */
    color: rgb(255, 255, 255);
    /* テキストの色を白に設定 */
    border: none;
    /* ボーダーをなしに設定 */
}

.menu-btn:hover {
    background-color: #2a6bac;
    /* ホバー時の色を変更 */
}