<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>よろずの窓口</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/travel_madoguchi.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>

    </style>
</head>

<body>

    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <div class="dropdown">
            <button class="btn menu-btn dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                メニュー
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/reply">ページ1</a></li>
                <li><a class="dropdown-item" href="https://example.com/page2">ページ2</a></li>
                <li><a class="dropdown-item" href="https://example.com/page3">ページ3</a></li>
            </ul>
        </div>
    </nav>
-->

    <div class="chat-container">
        <div class="card chat-card">
            <div class="card-body chat-messages" id="chatMessages1">
                <!-- ここにチャットの内容が表示される -->
                <div class="chat-message bot">
                    どんな旅行の計画を一緒に立てますか？😊
                </div>

            </div>
            <div class="card-footer">
                <div id="info-options" class="info-text" style="width: 90%;">
                    <h1 style="text-align: center;">*** 入力の例 ***</h1>
                    <div class="option">・どこに行くのがおすすめ？</div>
                    <div class="option">・どんな有名スポットがある？</div>
                    <div class="option">・落ち着ける場所はある？</div>
                    <div class="option">・ご飯に行くならどこ？</div>
                </div>
                <div class="chat-input">
                    <button type="button" id="information" class="btn-info original-btn"><i
                            class="bi bi-info-circle-fill"></i></button>
                    <form id="chat-form" class="d-flex flex-grow-1" enctype="multipart/form-data">
                        <textarea id="message" name="message" class="form-control" placeholder="メッセージを入力．．．"
                            rows="1"></textarea>

                        <button type="submit" class="btn-chat original-btn rounded"><i
                                class="bi bi-chat-dots-fill"></i></button>
                    </form>

                </div>

            </div>
        </div>
        <div class="card chat-card">
            <div class="card-header">
                <h1>決定している状況</h1>
            </div>
            <div class="card-body chat-messages" id="chatMessages2">

            </div>
            <div class="card-footer">
                <div class="bottom-right-content">
                    <button class="btn-decide rounded" id="sendBu"><i class="bi bi-hand-thumbs-up-fill"></i>決定</button>
                </div>
            </div>
        </div>
    </div>

    <div id="spinnerOverlay">
        <div class="spinner-border" role="status" style="width: 10rem; height: 10rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <script src="/static/travel_madoguchi.js"></script>
</body>

</html>